 /*colors and fonts*/
.container{ background-color: #ffeadb;
	   width:700px;
	   padding:3px 30px;
	   margin:8px auto;
	   box-shadow:none;
	   border:none;}
 
@media(max-width: 500px) {
	.container{width: 200px;}
}

@media(max-width: 750px) {
	.container{width: 550px;}
}


.card-white{background-color: white;
	margin: 40px 0px;
	box-shadow:8px 8px 8px rgba(0,0,0,0,1);
	border:4px solid black;
	border-radius:2px;
	min-width:200px;}


body{
    text-align: center;
	background:#eb9788;
	color:rgb(60,60,60);
	font-family: 'Lora', serif;;
	font-size:18px;
}

h1,h2,h3 { 
          font-family: 'times new roman','Rubik';
}

h1{
	color:#c06c84;
	font-size:40px;
	font-weight:900;
	.text-justify{
     text-align: justify;
	}
}



h2{
	color:#b7472a;
	font-size:20px;
	font-weight:lighter;
	font-variant: 500;
}

a{
text-decoration:none;
color:purple}



div{
   background:rgb(230,230,250);
}

}

div{
   background:white;
   border:4px solid black;
  margin:400px
}

#profile_pic {width: 170px;}

.img_circle{align-self: center;
	border-radius: 50%;
	box-shadow: 5px 5px 3px black
}

.list-inline{
	list-style: none;
	padding: 0px 0px 0px 0px;
}

.list-inline li{
	display: inline;
	padding: 10px;
}




